<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitCommentPath %>" method="POST">
    <% if (!comment.isNewRecord) { %>
      <input type="hidden" name="_method" value="PATCH" />
    <% } %>
    <div id="panel">
      <div>
        <% if (comment.isNewRecord) { %>
          <div>
            <textarea rows="8" cols="47" type="text" required name="content"></textarea>
            <input type="hidden" id="patternId" name="patternId" value="<%= pattern.id %>">
          </div>
        <% } else { %>
          <div>
            <textarea class="input-comment-box" rows="8" cols="80" type="text" required name="content"><%= comment.content %></textarea>
          </div>
        <% } %>
      </div>
    </div>
    <div id="hcontainer">
    <% if (comment.isNewRecord) { %>
      <input id="boton" type="submit" name="create" value="Comentar" />
    <% } else { %>
      <input id="boton" type="submit" name="update" value="Actualizar" />
    <% } %>
    </div>
  </form>
</div>
