

<div class="edit-material-content">
  <div class="edit-tittle-content">
    <h1 class="material-edit">Editar Comentario</h1>
  </div>
  <div class="edit-form-content">
    <%- include('_form') %>
  </div>
</div>
