<h1>Comentarios</h1>

<div id="panel">
<h2>Lista de Comentarios</h2>

<% if (!commentsList.length) { %>
  <p>No hay Comentarios!</p>
<% } else { %>
  <table>
    <thead>
        <tr>
          <th>UserId</th>
          <th>Patron_id</th>
          <th>Contenido</th>
        </tr>
    </thead>
    <tbody>
      <% commentsList.forEach((comment) => { %>
        <tr>
          <td><%- comment.userId %></td>
          <td><%- comment.patternId %></td>
          <td><%- comment.content %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
</div>
