<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Knitter</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div class="topnav" id="navbar">
        <a class="active" href="/">Home</a>
        <a href="/patterns">Patrones</a>
        <a href="/categories">Categorías</a>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
