<div class="material-show-content">
  <div class="material-show-tittle">
    <div>
      <h1>Materiales</h1>
    </div>
    <div>
      <form action="<%- newMaterialPath %>">
        <button class="add-material" type="submit"> <i class="fas fa-plus-circle fa-2x"></i> </button>
      </form>
    </div>
  </div>
  <div class="materials-content">
    <h2 class="label-content">Lista de Materiales</h2>
    <div class="materials-content-all">
      <% materialsList.forEach((material) => { %>
        <div class="material-container">
          <div class="material-text">
            <a class="pattern-font"><%- material.name %></a>
          </div>
          <div>
            <form action="<%- editMaterialPath(material) %>">
              <button class="edit-material" type="submit"> <i class="fas fa-pen"></i> </button>
            </form>
          </div>
          <div>
            <form action="<%- deleteMaterialPath(material) %>" onclick="return confirm('Estás seguro?');"
              method="POST">
              <input type="hidden" name="_method" value="delete" />
              <button class="delete-material" type="submit"> <i class="fas fa-trash-alt "></i></button>
            </form>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
