<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= addPatternPath %>" method="POST">
    <% if (userPattern) { %>
      <input type="hidden" name="_method" value="DELETE" />
    <% } %>
    <div id="hcontainer">
      <input type="hidden" name="patternId" value="<%= pattern.id %>">
    <% if (!userPattern) { %>
      <input class="realized-button" type="submit" name="create" value="Marcar como realizado" />
    <% } else { %>
      <input class="realized-button" type="submit" name="delete" value="No lo he realizado" />
    <% } %>
    </div>
  </form>
</div>
