

<div class="edit-pattern-content">
  <div class="edit-tittle-content">
    <h1 class="material-edit">Editar patrón de dibujo</h1>
  </div>
  <div class="edit-form-content">
    <%- include('_form') %>
  </div>
</div>
