<div class="pattern-show-content">
  <div class="pattern-show-tittle">
    <div>
      <h1>Patrones</h1>
    </div>
    <% if (currentUser) { %>
      <div>
        <form action="<%- newPatternPath %>">
          <button class="add-pattern" type="submit"> <i class="fas fa-plus-circle fa-2x"></i> </button>
        </form>
      </div>
    <% } %>
  </div>
  <div id="search-box" data-default-name="<%- defaultName %>"></div>
</div>
