
<div class="content-body" >
  <div class="content-sub-form">
    <h1 class="panel-content">Nuevo Patrón de Dibujo</h1>
  </div>
  <div class="content-sub-form">
    <%- include('_form') %>
  </div>
</div>
