<div>
  <p> Hola <%= user.username %>:</p>
  <p> Hemos visto que necesita restablecer su contraseña. Haga click en el enlace siguiente y será redirigido a un sitio seguro desde el que podrá establecer una contraseña nueva:</p>
  <p>http://<%= request.header.host %>/session/reset/<%= user.resetToken %></p>
  <p>Si no ha intentado restablecer su contraseña, por favor ignore este email y su contraseña se mantendrá como está actualmente.</p>
</div>
