<div>
  <p> Hola <%= user.username %>:</p>
  <p> No se pudo restablecer la contraseña de su cuenta <%= user.email %> debido a que expiró el enlace de recuperación.
    Para poder volver a intentarlo presione nuevamente en la opción 'Olvidé mi Contraseña' dentro de la ventana de Inicio de Sesión.</p>
  <p> Atte.</p>
  <p> El Equipo de Knitter</p>
</div>
