
h1 {
  text-decoration: none;
  font-family: "Dancing Script";
  font-size: 60px;
  color:  #26bfbf;
  font-weight: 700 ;
  align-self: auto;
}

h2 {
  text-decoration: none;
  font-family: "Dancing Script";
  font-size: 40px;
  color:  #26bfbf;
  font-weight: 700 ;
  align-self: auto;
}

h3 {
  text-decoration: none;
  font-family: "Dancing Script";
  font-size: 30px;
  color:  #26bfbf;
  font-weight: 700 ;
  align-self: auto;
}

.pattern-content-home{
  margin: 0px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-subelement{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.search-container{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-body{
  margin: 0px 30px;
}

.select-search{
  margin-left: 20px
}

.input-search{
  max-width: 600px;
}

#label-select{
  margin-right: 20px;
}
