

/* Built */

.material-show-content {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.material-show-tittle{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.materials-content {
  display: flex;
  flex-direction: column;
}

.materials-content-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.material-container{
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;

}

/* Details */

.material-text{
  width: 400px;
  word-wrap: break-word;
}

.add-material {
  background-color: lightgreen;
  border-style: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  color: white;
}

.edit-material {
  background-color: #ffd646;
  border-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  color: white;
}

.delete-material {
  background-color: #fb6070;
  border-style: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  color: white;
}
/* Interaction */


@media screen and (max-width: 875px){

  .material-container{
    width: 400px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .material-text{
    width: 300px;
    word-wrap: break-word;
  }

}


/*

.contenedor-body-show{
  margin-left: 30px;
  margin-right: 30px;
}

.material-show-head{
  display: flex;
  flex-direction: row;
  width: 40px;
  align-items: center;
  justify-items: left;
}

.material-show-element{
  display: flex;
  padding-right: 20px;
}

.material-add-button{
  display: none;
}

.boton-material{
  background-color: #26bfbf;
  border-radius: 15px;
  border-style: none;
  color: white;
  font-family: "Dancing Script";
  font-size: 15px;
}

.boton-material#boton-material{
  width: 100px;
}

.material-show-list{
  display:flex;
  flex-direction: column;
}

.all-materials{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
}

.material_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  margin-bottom:10px;

}

.material_element{
  width: 20%;
  padding: 0px;
  padding-right: 20px;
}

.material-name{
  font-family: "Arial";
  font-style: italic;
  color: gray;
}

@media screen and (max-width: 875px){

  .material-add-button{
    display: block;
    height: 40px;
    width: 40px;
    background-color: #26bfbf;
    border-radius: 50%;
    border-style: none;
    color: white;
    font-size: 25px;
  }

}

*/
