
.material-checkbox-content{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 160px;
  align-items: flex-start;
  justify-content: right;
  margin-bottom: 20px;
}

.checkbox-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: flex-start;

}

.category-select{
  height: 20px;

}

#category-pattern{
  padding-top:20px;
  padding-bottom: 20px;
  align-items: center;
}

.checkbox{
  height: 20px;
  width: 20px;

}

.button-pattern{
  margin-top: 20px;
}



