

.button_space{
  padding-top: 15px;
}

.hide{
  display: none;
}

.panel{
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
}

.panel-content{
  display: flex;
}

.content-sub-form{
  justify-items: center;
}

.form{
  width:400px;
}

@media (min-width: 720px) {
  .form{
    width:100%;
  }
}
