
.content-body {
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tittle-index {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.patterns-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pattern-index {
  width: 200px;
  margin: 10px;
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
}

.pattern-index-element {
  padding: 5px;
}

.pattern-index-element-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 200px;
  height: 160px;
  background-color: cyan;
  margin-bottom: 20px;
  border-radius: 10px;
}

