
.all-users{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
}

.user_container{
  display: block;
  width: 320px;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: flex-start;
  border-style: solid;
  border-radius: 15px;
  border-color: #26bfbf;
  margin-right: 5%;
}

.user_show{
  margin: 20px;
  display: block;
}

.user_show#texto_de_pagina{
  font-family: Arial;
}

.parag-list{
  font-family: Arial;
  font-weight: 400 ;
  padding: 10px;
  padding-left: 0px;
  font-style: italic;
  color: gray
}
