
/* Built */

.profile-content{
  display: flex;
  flex-direction: column;
 }

 .tittle-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 30px;
}

.profile-data {
  display:flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile-picture {
  border-style: solid;
  border-color: #26bfbf;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}

.profile-things {
  display: flex;
  flex-direction: column;
}

.own-pattern {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.used-pattern {
  display: flex;
  flex-direction: column;
}



/* Details */
