<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= followerPath %>" method="POST">
    <% if (following) { %>
      <input type="hidden" name="_method" value="DELETE" />
    <% } %>
    <div id="hcontainer">
      <input type="hidden" name="userId" value="<%= user.id %>">
    <% if (!following) { %>
      <input id="boton" type="submit" name="create" value="Seguir Usuario" />
    <% } else { %>
      <input id="boton" type="submit" name="delete" value="Dejar de Seguir" />
    <% } %>
    </div>
  </form>
</div>
