<div class="contenedor-body" id="body-container">
  <div class="content-new-user">
    <h1 class="panel-content">Editar Perfil</h1>
  </div>
  <div class="content-new-user">
    <%- include('_form') %>
  </div><br>
  <div class="material-show-element">
    <form action="<%- userPath %>">
      <input class="boton-material" id="boton-material" type="submit" value="Volver" />
    </form>
  </div>
</div>
