<div class="edit-profile-content">
  <div class="edit-tittle-content">
    <h1 class="profile-new">Regístrate!</h1>
  </div>
  <div class="edit-form-content">
    <%- include('_form') %>
  </div>
</div>
