<div class="content-body" >
  <div class="content-sub-form">
    <h1 class="panel-content">Regístrate!</h1>
  </div>
  <div class="content-sub-form">
    <%- include('_form') %>
  </div><br>
  <div class="material-show-element">
    <form action="<%- rootPath %>">
      <input class="boton-material" id="boton-material" type="submit" value="Volver" />
    </form>
  </div>
</div>
